p {
    color: black;
    font-family: sans-serif;
    font-weight: 500;
}

button {
    background-color: lemonchiffon;
    border: 3px solid black;
    padding: 10px;
    margin: 10px ;
}

body {
    background-color: darkslategrey;
}

div {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    width: 400px;

}